<div class="col-md-4 p-2" id="image-{{ form.vars.name }}">
    <div class="border p-2 w-100">

    	{% if image is not defined or is_granted('edit', form.vars.data) %}
   			<input type="file" class="mb-2 file form-control-file uploadImg" {{ (image is not defined) ? 'required' : '' }} data-rel="#{{ form.name.vars.id }}" data-img="{{ form.vars.name }}"/>
    	{% endif %}

        {% if form.name is defined %}
		    {{ form_row(form.name) }}
        {% endif %}

        {{ dump(image) }}


 		<img id="showImg-{{ form.vars.name }}" class="showImg mb-2" src="{{ asset('uploads/images/' ~ (form.name is defined) ? 'form.name.vars.data' : form.vars.data.name) }}" alt="your image"/>
 		<br>

 		{# if you are adding a new trick then the trick doesnt exist so you can access main and if you are updating it needs to be the owner #} 
 		{% if trick is not defined or is_granted('edit', trick) %}
	 		{{ form_row(form.main) }}
 		{% endif %}
     	{% if trick is not defined or image is not defined or is_granted('edit', form.vars.data) %}
			<button type="button" class="mt-3 btn btn-sm btn-danger btn-remove" data-rel="#image-{{ form.vars.name }}">Supprimer</button>
    	{% endif %}

	</div>
</div>

