<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        <title>SnowTricks</title>
    </head>
    <body>

        {% block navigation %}
            <!-- MAIN NAV BAR -->
            <nav class="d-none d-sm-flex navbar navbar-light bg-light w-100 position-absolute">
                <a class="navbar-brand" href="/">SnowTricks
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        - Hi {{ app.user.username }} !
                        <a class="btn btn-outline-danger mr-auto" href="/logout">Log out</a>
                    {% endif %}
                </a>
                
                <ul class="navbar-nav ml-auto flex-row">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('trick_index') }}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary mx-2" href="{{ path('security_login') }}">Sign in</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-success mx-2" href="{{ path('security_register') }}">Sign up</a>
                    </li>
                </ul>
            </nav>
            <!-- MOBILE NAV BAR -->
            <nav class="d-flex d-sm-none navbar bg-light w-100 fixed-bottom">
                <ul class="navbar-nav flex-row w-100">
                    <li class="nav-item m-auto">
                        <a class="nav-link" href="{{ path('trick_index') }}"><i class="fas fa-home"></i></a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="m-auto">
                            Hi {{ app.user.username }} ! <i class="fas fa-smile"></i>
                        </li>               
                        <li class="nav-item m-auto">
                            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item m-auto">
                            <a class="nav-link" href="{{ path('security_login') }}"><i class="fas fa-sign-in-alt"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endblock %}

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash alert alert-{{ type }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block header %}{% endblock %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row mt-5 pt-5">
                        <div class="col">
                            <p class="text-center">SnowTricks, all rights reserved <i class="far fa-copyright"></i> 2018</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    </body>
</html>