{% extends 'base.html.twig' %}

	{% block header %}

	    <div class="header basic-header">
	        <div class="overlay"></div>
	        <div class="container h-100">
	            <div class="row h-100">
	                <div class="col d-flex">

	                    <div class="jumbotron my-auto">
	                        <h1 class="display-4">Adding a new trick</h1>
	                        <p class="lead">Fill in the form below to add your trick.</p>
	                    </div>    

	                    <a id="arrow-scroll-bottom" href="#form">
	                        <i class="fas fa-arrow-down fa-2x"></i>
	                    </a>   
	                    
	                </div>
	            </div>
	        </div>
	    </div>

	{% endblock %}

	{% block body %}

		{% if is_granted('ROLE_USER') %}

		<div class="row" id="form">
			<div class="col pt-5">
				{{ form_start(form) }}  
					{{ form_row(form._token) }}
					{{ form_errors(form) }}
					<div class="row">
						<div class="col text-center">
							<button type="button" class="btn btn-outline-success btn-lg btn-add mb-3" data-rel="#images">Image <i class="fas fa-plus-circle"></i></button>				
						</div>
						<div class="col text-center">
							<button type="button" class="btn btn-lg btn-outline-success btn-add mb-3" data-rel="#videos">Video <i class="fas fa-plus-circle"></i></button>				
						</div>
					</div>

					<div id="images" class="row mb-2" data-index="{{ form.images|length > 0 ? form.images|last.vars.name+1 : 0 }}" data-prototype="{{ include("trick/image.html.twig", { form: form.images.vars.prototype })|e("html_attr") }}">
	                    {% for image in form.images %}
	                        {{ include("trick/image.html.twig", { form: image }) }} 
	                    {% endfor %}					
					</div>
					
					<div id="videos" class="row mb-2" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name+1 : 0 }}" data-prototype="{{ include("trick/video.html.twig", { form: form.videos.vars.prototype })|e("html_attr") }}">
	                    {% for video in form.videos %}
	                        {{ include("trick/video.html.twig", { form: video }) }}
	                    {% endfor %}					
					</div>

					{{ form_row(form.name) }}
					{{ form_row(form.description) }}
					{{ form_row(form.categories) }}
					<button type="submit" class="btn btn-success">Save</button>
				{{ form_end(form, { "render_rest": false }) }}
			</div>
		</div>

		{% else %}
			'You are not allowed to access this web page.'
		{% endif %}
	
	{% endblock %}
