<div class="col-md-2 p-2" id="image-{{ form.vars.name }}">
    <div class="border p-2 w-100">
    	{# if you are adding new image file is required so that it wont add blank fields, but if you are updating, file is empty but its ok because name isnt so let require to false #}
    	{% if form.vars.data is null %}
			{{ form_row(form.file, { attr: { 'data-rel': form.vars.name }, required:true}) }}
		{% else %}
			{{ form_row(form.file, { attr: { 'data-rel': form.vars.name }}) }}
		{% endif %}
		{{ form_row(form.name) }}
 		<img id="showImg-{{ form.vars.name }}" class="showImg" src="{{ asset('uploads/images/' ~ form.name.vars.data) }}" alt="your image"/>
 		<br>
 		{# if you are adding a new trick then trick doesnt exist so you can access main and if you are updating it needs to be the owner to access it #} 
 		{% if trick is not defined or app.user is same as(trick.author) %}
	 		{{ form_row(form.main) }}
 		{% endif %}
		<button type="button" class="mt-3 btn btn-sm btn-danger btn-remove" data-rel="#image-{{ form.vars.name }}">Supprimer</button>
	</div>
</div>
