{% extends 'base.html.twig' %}

{% block header %}

    <div class="header" style="background: url({{ asset('uploads/images/' ~ trick.mainImage.file ?? trick.images|first.file) }}) no-repeat center center fixed;background-size: cover;">
        <div class="overlay"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col d-flex">
                	<div class="edit_delete d-flex justify-content-center my-3">
                        <a href="{{ path('trick_update', {'slug': trick.slug}) }}">
                            <i class="fas fa-edit fa-2x"></i>
                        </a>
                        <div class="mx-2"></div>
                        <a href="{{ path('trick_delete', {'slug': trick.slug}) }}">
                            <i class="fas fa-trash-alt fa-2x"></i>    
                        </a>
                    </div>

                    <div class="jumbotron my-auto">
                        <h1 class="display-4">{{ trick.name }}</h1>
                    </div>    

                    <a id="arrow-scroll-bottom" href="#trick">
                        <i class="fas fa-arrow-down fa-2x"></i>
                    </a>   
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}

	<div id="trick" class="row pt-5 trick">
        {% for image in trick.images %}
			<div class="col">
				<img class="showImg" src="{{ asset('uploads/images/' ~ image.file) }}">
			</div>
		{% endfor %}	
        {% for video in trick.videos %}
			<div class="col">
				<iframe class="showVideo" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
				<img src="{{ asset('uploads/images' ~ image.file) }}">
			</div>
		{% endfor %}								
	</div>

	<div class="row">
		<div class="col">
			<p class="pt-5 pb-2">{{ trick.description|capitalize }}.</p>
		</div>
	</div>			

	<div class="row">
		<div class="col text-center">
			{% for category in trick.categories %}
                <button type="button" class="btn btn-outline-dark btn-sm">{{ category.name }}</button>
            {% endfor %}
		</div>
	</div>

	<hr>
	{{ include('comment/add.html.twig') }}
	<hr>
	
	{% for comment in trick.comments %}
		<div class="row">
			<div class="col-2">
				<div class="d-flex flex-column">
					<p>{{ trick.comment.author }}</p>
					<img src="{{ asset('uploads/images/' ~ trick.comment.author.profilePicture) }}">
				</div>
			</div>
			<div class="col-10">
				<div class="d-flex flex-column">
					<p>{{ trick.comment.addedAt }}</p>
					<textarea>{{ trick.comment.content }}</textarea>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}